<h1>Login</h1>
<%= form_for(:session, url: "/login") do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, :placeholder => "email"  %>

  <%= f.label :password %>
  <%= f.password_field :password, :placeholder => "password" %>

  <%= f.submit "Login" %>
<% end %>

<p>Not a registered user? <%= link_to "Create an account!", new_user_path %></p>
